#twofa-section {
    display: none;
    width:100%;
}
#twofa-section .input-box {
    width: 30%;
    aspect-ratio: 1;
    text-align: center;
    font-size: calc(1em);
    border: 1px solid #ccc;
    margin-right: 5%;
    text-transform: uppercase;
    margin-bottom:3%

}
#twofa-section .input-box:last-child {
    margin-right: 0%;
}
